{"websocket-input-host":"localhost:9873","websocket-input-enabled":true,"websocket-input-regex":[],"show-history-navigation-buttons":false,"show-text-input":true,"show-mecab-info":true,"show-kanji-info":true,"show-kanji-part-browser":true,"non-click-mode":true,"context-based-search":false,"output-line-max-length":"","external-sites":[{"aboveResults":true,"$$hashKey":"object:1126","url":"http://www.google.com/search?q=%QUERY%+とは","nextToReadings":false,"nextToWords":true,"name":"G"},{"aboveResults":true,"$$hashKey":"object:2385","name":"GI","url":"http://www.google.com/search?site=&tbm=isch&q=%QUERY%","nextToWords":true}],"output-font-size":36,"output-max-height":"","kanji-part-browser-size":20,"similar-kanji-size":20}